In [1]:
import pandas as pd

In [2]:
import math

In [3]:
dataset = pd.read_csv("Hackathon - Sheet1.csv")

In [4]:
dataset.head()

       Country Undernourised Wasting Stunting  Mortality
0  Afghanistan          25.6     5.1     38.2        6.0
1      Albania           3.9     1.6     11.3        1.0
2      Algeria          <2.5     2.7      9.8        2.3
3       Angola          17.3     4.9     37.6        7.5
4    Argentina           3.9     1.6      7.9        0.9

In [5]:
dataset

                                               Country  ... Mortality
0                                          Afghanistan  ...       6.0
1                                              Albania  ...       1.0
2                                              Algeria  ...       2.3
3                                               Angola  ...       7.5
4                                            Argentina  ...       0.9
..                                                 ...  ...       ...
132                                              Yemen  ...       5.8
133                                             Zambia  ...       6.2
134                                           Zimbabwe  ...       5.5
135                                                NaN  ...       NaN
136  — = Data not available or not presented. Some ...  ...       NaN

[137 rows x 5 columns]

The last two rows have NaN and just text. So it can be dropped

In [6]:
dataset = dataset.drop(index=[135,136])

In [7]:
l=[]
for i in range(134):
  if(dataset['Undernourised'][i]=='<2.5'):
    l.append(dataset['Country'][i])

In [8]:
l

['Algeria',
 'Azerbaijan',
 'Belarus',
 'Bosnia & Herzegovina',
 'Brazil',
 'China',
 'Croatia',
 'Cuba',
 'Estonia',
 'Kazakhstan',
 'Kuwait',
 'Latvia',
 'Lithuania',
 'Montenegro',
 'Romania',
 'Russian Federation',
 'Turkey',
 'Ukraine',
 'Uruguay',
 'Uzbekistan']

The countries with not-so-well-defined undernourished column values ("<2.5") have to be replaced by 2.5

And the countries with unavailable values ("-") are to be dropped

In [9]:
for i in range(135):
  if('—' in list(dataset.loc[i])):
    dataset=dataset.drop(index=i)

In [10]:
dataset

                        Country Undernourised Wasting Stunting  Mortality
0                   Afghanistan          25.6     5.1     38.2        6.0
1                       Albania           3.9     1.6     11.3        1.0
2                       Algeria          <2.5     2.7      9.8        2.3
3                        Angola          17.3     4.9     37.6        7.5
4                     Argentina           3.9     1.6      7.9        0.9
..                          ...           ...     ...      ...        ...
128                     Uruguay          <2.5     1.4      6.9        0.7
129                  Uzbekistan          <2.5     1.8     10.8        1.7
130  Venezuela (Boliv. Rep. of)          27.4     5.2     23.7        2.4
131                    Viet Nam           6.7     5.8     23.8        2.0
132                       Yemen          45.4    15.1     51.4        5.8

[116 rows x 5 columns]

In [11]:
dataset=dataset.replace('<2.5','2.5')

In [12]:
dataset

                        Country Undernourised Wasting Stunting  Mortality
0                   Afghanistan          25.6     5.1     38.2        6.0
1                       Albania           3.9     1.6     11.3        1.0
2                       Algeria           2.5     2.7      9.8        2.3
3                        Angola          17.3     4.9     37.6        7.5
4                     Argentina           3.9     1.6      7.9        0.9
..                          ...           ...     ...      ...        ...
128                     Uruguay           2.5     1.4      6.9        0.7
129                  Uzbekistan           2.5     1.8     10.8        1.7
130  Venezuela (Boliv. Rep. of)          27.4     5.2     23.7        2.4
131                    Viet Nam           6.7     5.8     23.8        2.0
132                       Yemen          45.4    15.1     51.4        5.8

[116 rows x 5 columns]

So, now, the dataset is free of any misleading data

In [13]:
dataset['Undernourised'].dtype #isnt int, so has to be converted to int, and apply for all columns

dtype('O')

In [14]:
dataset['Undernourised']=pd.to_numeric(dataset['Undernourised'])
dataset['Wasting']=pd.to_numeric(dataset['Wasting'])
dataset['Stunting']=pd.to_numeric(dataset['Stunting'])
dataset['Mortality']=pd.to_numeric(dataset['Mortality'])

In [15]:
dataset

                        Country  Undernourised  Wasting  Stunting  Mortality
0                   Afghanistan           25.6      5.1      38.2        6.0
1                       Albania            3.9      1.6      11.3        1.0
2                       Algeria            2.5      2.7       9.8        2.3
3                        Angola           17.3      4.9      37.6        7.5
4                     Argentina            3.9      1.6       7.9        0.9
..                          ...            ...      ...       ...        ...
128                     Uruguay            2.5      1.4       6.9        0.7
129                  Uzbekistan            2.5      1.8      10.8        1.7
130  Venezuela (Boliv. Rep. of)           27.4      5.2      23.7        2.4
131                    Viet Nam            6.7      5.8      23.8        2.0
132                       Yemen           45.4     15.1      51.4        5.8

[116 rows x 5 columns]

The threshold value according to the official formula provided is calculated

In [16]:
threshold = []
for i in dataset.keys()[1:]:
  threshold.append(max(list(dataset[i])))

In [17]:
threshold

[59.5, 17.3, 52.2, 11.7]

In [18]:
threshold = [65,20,55,15] # standardizing the values

In [19]:
c1 = list(dataset['Undernourised'])
c2 = list(dataset['Wasting'])
c3 = list(dataset['Stunting'])
c4 = list(dataset['Mortality'])
hi = []
for i in range(116):
  hi.append(round(((c1[i]/threshold[0])*(100/3)+(c2[i]/threshold[1])*(100/6)+(c3[i]/threshold[2])*(100/6)+(c4[i]/threshold[3])*(100/3)),1))
hi

[42.3,
 9.0,
 11.6,
 41.0,
 7.7,
 10.9,
 12.8,
 28.5,
 4.6,
 37.8,
 18.8,
 7.4,
 33.9,
 7.6,
 9.0,
 40.9,
 15.3,
 25.4,
 31.7,
 65.7,
 63.1,
 4.1,
 6.1,
 12.8,
 43.7,
 7.8,
 36.8,
 3.7,
 6.2,
 58.3,
 42.4,
 13.0,
 19.5,
 18.5,
 12.6,
 3.3,
 26.6,
 36.5,
 14.2,
 25.5,
 28.1,
 8.9,
 24.3,
 27.3,
 17.3,
 47.7,
 17.9,
 40.3,
 26.5,
 11.6,
 31.3,
 12.6,
 12.2,
 9.8,
 33.8,
 33.4,
 7.1,
 12.9,
 30.5,
 4.4,
 13.4,
 43.4,
 50.7,
 4.2,
 51.4,
 31.1,
 18.3,
 42.0,
 37.4,
 18.3,
 12.2,
 9.4,
 5.7,
 13.6,
 47.3,
 27.6,
 30.4,
 28.9,
 19.3,
 48.4,
 6.9,
 17.9,
 38.8,
 12.8,
 40.3,
 11.5,
 11.4,
 24.7,
 7.7,
 9.8,
 36.6,
 9.9,
 26.1,
 6.9,
 51.1,
 6.0,
 26.4,
 77.1,
 20.2,
 22.9,
 39.2,
 15.6,
 36.5,
 16.7,
 46.8,
 37.3,
 13.7,
 9.6,
 6.7,
 17.0,
 9.9,
 6.1,
 9.8,
 30.9,
 19.9,
 64.3]

In [20]:
Hunger_index = pd.DataFrame(list(zip(dataset['Country'],hi)),columns=["Country",'GHI'])

The final Global hunger index values for each of the countries of the year 2021

In [21]:
Hunger_index

                        Country   GHI
0                   Afghanistan  42.3
1                       Albania   9.0
2                       Algeria  11.6
3                        Angola  41.0
4                     Argentina   7.7
..                          ...   ...
111                     Uruguay   6.1
112                  Uzbekistan   9.8
113  Venezuela (Boliv. Rep. of)  30.9
114                    Viet Nam  19.9
115                       Yemen  64.3

[116 rows x 2 columns]